*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Generated
*.dSYM/
*.o
*.pyc
*.log
*.graph
*.out
*.o
*.pyc   

# Exclude the build directory
build/*
 
# Exclude temp nibs and swap files
*~.nib
*.swp
 
# Exclude OS X folder attributes
*.DS_Store
 
# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.xcuserstate
*.pbxuser
*.xcworkspace
xcuserdata
